In [2]:
import pandas as pd 

df = pd.read_excel(r'C:\Users\SYAMNARAYANAN\OneDrive\Desktop\visual code\vaccine-introduction-data.xlsx')


df

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes
...,...,...,...,...,...,...
138316,ZWE,Zimbabwe,AFRO,1943.0,Seasonal Influenza vaccine,No
138317,ZWE,Zimbabwe,AFRO,1942.0,Seasonal Influenza vaccine,No
138318,ZWE,Zimbabwe,AFRO,1941.0,Seasonal Influenza vaccine,No
138319,ZWE,Zimbabwe,AFRO,1940.0,Seasonal Influenza vaccine,No
138320,Created: 2025-02-01 07:09 UTC,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns = df.columns.str.strip().str.lower()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.dropna(subset=["countryname", "year"], inplace=True)
df[["description","who_region"]].fillna("Unknown", inplace=True)

In [ ]:
df["year"] = df["year"].astype(int)

In [ ]:
df = df[df["iso_3_code"].str.len() == 3]

In [ ]:
df["ISO_3_CODE"] = df["ISO_3_CODE"].str.upper().str.strip()
df["COUNTRYNAME"] = df["COUNTRYNAME"].str.title().str.strip()
df["WHO_REGION"] = df["WHO_REGION"].str.upper().str.strip()
df["DESCRIPTION"] = df["DESCRIPTION"].str.strip()

In [ ]:
df['intro'].value_counts(dropna=False)

In [ ]:
intro_mapping = {
    "Yes": True,
    "Yes (R)": True,
    "Yes (P)": True,
    "Yes (A)": True,
    "Yes (O)": True,
    "Yes (D)": True,
    "No": False,
    "ND": None,
    "High risk area": None
}

df['intro'] = df['intro'].map(intro_mapping)
df['intro'].value_counts(dropna=False)

In [ ]:
df.to_csv("cleaned_vaccination_data.csv", index=False)

In [ ]:
import sqlite3

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS VaccinationData (
    iso_3_code TEXT NOT NULL,
    country_name TEXT NOT NULL,
    who_region TEXT NOT NULL,
    year INTEGER NOT NULL,
    description TEXT NOT NULL,
    intro BOOLEAN
)
""")
conn.commit()
print("Table created (if not already exists)")

In [ ]:
df.to_sql("VaccinationData", conn, if_exists="replace", index=False)
print("Cleaned data successfully saved to SQLite database")

In [ ]:
import sqlite3

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("\nðŸ“‹ Tables in the database:", tables)

conn.close()

In [ ]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("vaccination_data.db")


df_sample = pd.read_sql("SELECT * FROM VaccinationData LIMIT 20;", conn)

print(df_sample)

conn.close()

In [ ]:
df2 = pd.read_excel(r"C:\Users\SYAMNARAYANAN\OneDrive\Desktop\visual code\vaccine-schedule-data.xlsx")

df2

In [ ]:
df2.info()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.columns = df2.columns.str.strip().str.lower()

In [ ]:
df2.dropna(subset=['year'], inplace=True)

In [ ]:

df2['year'] = df2['year'].astype('Int64')


df2['schedulerounds'] = df2['schedulerounds'].astype('Int64')

In [ ]:
df2['countryname'] = df2['countryname'].fillna('Unknown')

df2['who_region'] = df2['who_region'].fillna('Unknown')

df2['vaccinecode'] = df2['vaccinecode'].fillna('Unknown')

df2['vaccine_description'] = df2['vaccine_description'].fillna('Unknown')

df2['schedulerounds'] = df2['schedulerounds'].fillna('Not specified')

df2['targetpop'] = df2['targetpop'].fillna('Unknown')

df2['targetpop_description'] = df2['targetpop_description'].fillna('Unknown')

df2['geoarea'] = df2['geoarea'].fillna('Unknown')

df2['ageadministered'] = df2['ageadministered'].fillna('Not specified')

df2['sourcecomment'] = df2['sourcecomment'].fillna('None')

In [ ]:
df2.isnull().sum()

In [ ]:
import sqlite3

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS VaccineSchedule (
    iso_3_code TEXT NOT NULL,
    country_name TEXT NOT NULL,
    who_region TEXT,
    year INTEGER,
    vaccine_code TEXT,
    vaccine_description TEXT,
    schedule_rounds INTEGER,
    target_pop TEXT,
    target_pop_description TEXT,
    geo_area TEXT,
    age_administered TEXT,
    source_comment TEXT
)
""")
conn.commit()
print("Table 'VaccineSchedule' created successfully.")

In [ ]:
df2.to_sql("VaccineSchedule", conn, if_exists="replace", index=False)
conn.commit()
print("Data inserted into 'VaccineSchedule' successfully.")

In [ ]:

conn = sqlite3.connect("vaccination_data.db")


df_sample = pd.read_sql("SELECT * FROM VaccineSchedule LIMIT 20;", conn)

print(df_sample)

conn.close()

In [ ]:
df3 = pd.read_excel(r"C:\Users\SYAMNARAYANAN\OneDrive\Desktop\visual code\reported-cases-data.xlsx")

df3

In [ ]:
df3.columns = df3.columns.str.strip().str.lower()

In [ ]:
df3.isnull().sum()

In [ ]:
df3.info()

In [ ]:
df3.rename(columns={'code': 'iso_3_code','group':'group_name','name':'country_name'}, inplace=True)

In [ ]:
df3[df3['iso_3_code'].isnull()]

In [ ]:
df3

In [ ]:
df3.dropna(subset=['iso_3_code'], inplace=True)

In [ ]:
df3['cases'] = df3['cases'].fillna(0).astype(int)

In [ ]:
df3['year'] = df3['year'].astype(int)

In [ ]:
df3.info()

In [ ]:
df3

In [ ]:

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Reported_Cases (
    group_name TEXT,
    iso_3_code TEXT,
    country_name TEXT,
    year INTEGER,
    disease_code TEXT,
    disease_description TEXT,
    cases INTEGER
)
""")

conn.commit()

In [ ]:
df3.to_sql("Reported_Cases", conn, if_exists="replace", index=False)
conn.commit()

In [ ]:

conn = sqlite3.connect("vaccination_data.db")


df_sample = pd.read_sql("SELECT * FROM Reported_Cases LIMIT 20;", conn)

print(df_sample)

conn.close()

In [3]:
df4 = pd.read_excel(r"C:\Users\SYAMNARAYANAN\OneDrive\Desktop\visual code\incidence-rate-data.xlsx")

df4

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
...,...,...,...,...,...,...,...,...
84941,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",893.3
84942,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",NaN
84943,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,"per 1,000,000 total population",19.7
84944,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,"per 1,000,000 total population",NaN
84945,Created: 2025-02-01 16:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df4.columns = df4.columns.str.strip().str.lower()

In [ ]:
df4.rename(columns={'code': 'iso_3_code','group':'group_name','name':'country_name'}, inplace=True)

In [ ]:
df4

In [ ]:
df4.isnull().sum()

In [ ]:
df4.info()

In [ ]:
df4[df4['iso_3_code'].isnull()]

In [ ]:
df4 = df4.dropna(subset=['iso_3_code','incidence_rate'])

In [ ]:
df4['year'] = df4['year'].astype(int)

In [ ]:
df4.isnull().sum()

In [ ]:
df4

In [ ]:
# df4['incidence_rate'] = df4['incidence_rate'].round(0).astype('int')

In [ ]:
df4

In [ ]:

conn = sqlite3.connect("vaccination_data.db")

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS DiseaseIncidence (
    group_name TEXT,
    iso_3_code TEXT,
    country_name TEXT,
    year INTEGER,
    disease_code TEXT,
    disease_description TEXT,
    denominator TEXT,
    incidence_rate REAL
)
""")
conn.commit()

df4.to_sql("DiseaseIncidence", conn, if_exists="replace", index=False)
conn.commit()

In [ ]:

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()


cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("\nðŸ“‹ Tables in the database:", tables)



conn.close()

In [ ]:
df5 = pd.read_excel(r"C:\Users\SYAMNARAYANAN\OneDrive\Desktop\visual code\coverage-data (1).xlsx")

df5

In [ ]:
df5.columns = df5.columns.str.strip().str.lower()

In [ ]:
df5.isnull().sum()

In [ ]:
df5.rename(columns={'code': 'iso_3_code','group':'group_name','name':'country_name'}, inplace=True)

In [ ]:
cat_cols = [
    'iso_3_code', 'country_name', 'antigen', 'antigen_description',
    'coverage_category', 'coverage_category_description'
]
df5[cat_cols] = df5[cat_cols].fillna('Unknown')

num_cols = ['target_number', 'doses', 'coverage']
df5[num_cols] = df5[num_cols].fillna(0)

df5 = df5.dropna(subset=['year'])

df5['year'] = df5['year'].astype(int)

In [ ]:
df5['target_number'] = df5['target_number'].round(0).astype('int')
df5['doses'] = df5['doses'].round(0).astype('int')
df5['coverage'] = df5['coverage'].round(0).astype('int')

In [ ]:
df5['doses'] = df5['doses'].astype(int)

In [ ]:
df5.info()

In [ ]:
df5.isnull().sum()

In [ ]:
df5

In [ ]:

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS AntigenCoverage (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    group_name TEXT NOT NULL,
    iso_3_code TEXT,
    country_name TEXT,
    year INTEGER NOT NULL,
    antigen_code TEXT,
    antigen_description TEXT,
    coverage_category TEXT,
    coverage_category_description TEXT,
    target_number INTEGER,
    doses INTEGER,
    coverage_percent INTEGER
)
""")

conn.commit()


print("Table 'AntigenCoverage' created successfully.")

In [ ]:
df5.to_sql("AntigenCoverage", conn, if_exists="replace", index=False)


conn.commit()

In [ ]:

conn = sqlite3.connect("vaccination_data.db")
cursor = conn.cursor()

conn = sqlite3.connect("vaccination_data.db")


df_sample = pd.read_sql("SELECT * FROM DiseaseIncidence LIMIT 20;", conn)

print(df_sample)

conn.close()